# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: CROWDS
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown

sass:
    style: compressed

plugins:
  - jekyll-target-blank
  - jekyll-minifier

jekyll-minifier:
    preserve_php: false
    remove_spaces_inside_tags: true
    remove_multi_spaces: true
    remove_comments: true
    remove_intertag_spaces: true
    compress_css: false
    compress_javascript: true
    compress_json: true
    preserve_line_breaks: false
    uglifier_args:
      harmony: true

# Site variables
image_path: assets/media
uploads_path: assets/media/uploads
js_path: assets/js
css_path: assets/css
fonts_path: assets/fonts
icons_path: assets/icons

# Site settings
show_excerpts: true


body_scripts:
  - /assets/js/jquery.min.js
  - /assets/js/jquery-color.min.js
  - /assets/js/utils.js
  - //cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js
  - //maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js
  - /assets/js/main.js


fonts:
  - //fonts.googleapis.com/css?family=Open+Sans&display=swap
  - //fonts.googleapis.com/css?family=Roboto+Mono&display=swap
  - //fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap
  - //fonts.googleapis.com/css?family=Lato&display=swap
  - //fonts.googleapis.com/css?family=Roboto&display=swap
  - //fonts.googleapis.com/css?family=Work+Sans&display=swap


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - assets/videos/CHANNEL_1.mp4
  - assets/videos/CHANNEL_2.mp4
  - assets/videos/CHANNEL_3.mp4
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
