.header-wrapper {
  @include media-breakpoint-down(xs) {
    // background-color: $light-beige;
  }
  z-index: 10;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#header-wrapper {
  display: none;
}

//Navbar
‰bar {
  font-size: $font-size-sm;
  font-family: 'Roboto Mono', monospace;
  // text-transform: uppercase;
  // height: 5.5rem;
  @include media-breakpoint-down(md) {
    font-size: $font-size-sm;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
  }

  @include media-breakpoint-down(xs) {
    font-size: $font-size-sm;
  }

  padding: $navbar-padding-y 0;
}

.main-nav {
  @extend ‰bar;
  padding-top: $navbar-padding-edge !important;
  // display: none;
}

.navbar-nav {
  @include media-breakpoint-down(xs) {
    // margin-left: auto;
  }
}

.navbar-nav > :first-child {
  // padding-left: 0px !important;
}

.navbar-nav > :last-child {
  // padding-right: 0px !important;
}

.nav-link {
  // padding-right: 0 !important;
  // padding-left: 0 !important;
  padding: map-get($spacers, 0) 0 !important; //5rem
}

.active {
  // color: $gray-400;
  // text-decoration: underline;
  font-weight: $font-weight-bold;
}

.navbar-toggler {
  border: none;
  border-color: $black;
}

.navbar-toggler:hover {
  background-color: transparent !important;
}

.navbar-collapse {
  // background: $white;
  // padding-bottom: map-get($spacers, 3);
}

.navbar-collapse {
    // stylelint-disable-line declaration-no-important
  @include media-breakpoint-down(sm) {
    flex-basis: 0;
  }
  @include media-breakpoint-up(sm) {
    display: block !important;
  }
}

.nav-link:hover {
  text-decoration: underline;
}


// TOGGLER ICON

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #ffffff;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}


// DROPDOWN

.dropdown-content {
  display: none;
}

.dropdown-content a {
  display: block;
}

.dropdown:hover > .dropdown-content {display: block;}
